@import '../../../styles/vars.global.scss';

.image__item {
    display: flex;
    flex-basis: calc(100% / 6 - 8px);
    height: 204px;
    margin: 4px;
    border-radius: 4px;
    border: 1px solid #ebebeb;
    cursor: pointer;
    overflow: hidden;

    img {
        height: auto;
        object-fit: cover;
    }

    @media (max-width: $tablet) {
        flex-basis: calc(100% / 4 - 8px);
        height: 190px;
    }

    @media (max-width: $mobile) {
        flex-basis: calc(100% / 3 - 8px);
        height: 114px;
    }
}
