@import '../../styles/vars.global.scss';

.images__list {
    display: flex;
    flex-wrap: wrap;
    margin: -4px;

    & + .loading {
        display: flex;
        width: 100%;
        justify-content: center;
        margin: 16px auto;
        pointer-events: none;

        svg {
            max-width: 32px;
            height: auto;
        }
        
        @media (max-width: $tablet) {
            position: fixed;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            align-items: center;

            &.loading__bottom {
                position: unset;
            }
        }
    }
}

.error {
    display: block;
    padding: 16px 0;
}